/* Contenedor de etapas con separación */
.stages-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo para cada etapa */
.stage {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 8px;
    gap: 2rem;

    display: flex;
    flex-direction: column;
}

/* Primera etapa más destacada */
.stage-first {
    border: 2px solid #bb86fc;
    font-size: 1.1em;
}

.stage section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 1rem;
}

.stage label {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin: 10px; */
    /* max-width: 100%; */
    width:auto;
    /* gap: 10px; */
}
.stage label span {
    grid-column: 1 / -1;
    display: inline-flex;
}

.stage label input,
.stage label button {
    background-color: #121212;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin: 0;
    margin-top: 0.5em;
}
.stage label button {
    margin-left: 10px;
}

.stage label button img {
    width: 1rem;
    height: auto;
    padding: 0 5px;
    margin: 0;
}

h2 {
    margin: 0;
}