
header {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
}

header img {
    grid-row: span 2;
    border-radius: 100px;
}
header h1, header h2 {
    margin: 1rem;

}